<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" type="text/css" href="css/cvstyle.css">
		<script type="text/javascript" src="js/bower_components/tinymce-dist/tinymce.js"></script>
		<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="js/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
		<script src="js/appFormController.js"></script>

	</head>
	<body ng-app="formApp" ng-controller="formController">
		
		<div class="paginaPrincipal">
			<div><span class="nome"><h2>{{formData.name}}<h2></span></div>
			<div class="dadosPessoais">
				<div class="endereco" ng-show="formData.endereco.displayOnView">
					<span class="logradouro">{{formData.endereco.logradouro}},</span>
					<span class="numero">{{formData.endereco.numero}}</span> 
					<span class="numero">{{formData.endereco.bairro}}</span><br>
					<span class="numero">{{formData.endereco.cep}}</span>
					<span class="numero">{{formData.endereco.cidade}}</span>
					<span class="numero">{{formData.endereco.uf}}</span>    
				</div>
				<div class="contatos">
					<span ng-repeat="contato in formData.contatos" ng-show="contato.displayOnView">{{contato.tipoContato.descricao}}: {{contato.contato}}&nbsp;&nbsp;</span>
				</div>
				<div class="dadosAdicionais">
					<span class='title' id="centeredTitle">Nacionalidade: </span>
					<span>{{formData.nationality}}</span> - 
					<span>{{ageCalculator(formData.currentDate, formData.birthDate)}} anos</span>

				</div>
			</div>
			<div class="objetivo" >
				<span class='title' id="simpleTitle">Objetivo: </span><span>{{formData.curriculum.objetivo}}</span>
			</div>

			<div class="resumoQualificacoes" >
				<span class='title' id="centeredTitle"><h3>Resumo das Qualificações:</h3> </span>
				<span ng-bind-html="formData.curriculum.summary"></span>
			</div>
			<div class="formacaoAcademica">
				<span class='title'><h3>Formação Acadêmica:</h3> </span>
				<div ng-repeat="formacao in formData.educationList|filter: filtro" >
					<div ng-show="formacao.educationType.id==1">
						<span style="font-weight:bold"> Conclusão em {{formacao.dataFim|date:'yyyy'}}</span> - 
						<span class="cursoFormacaoAcademica">{{formacao.education}}</span><br>
						<span class="cursoInstituicao">{{formacao.institution}}</span><br>
					
			
				</div>
			</div>						

			<div class="languages">
				<span class='title'><h3>Idiomas:</h3> </span>
				<div ng-repeat="language in formData.languages">
					<span>{{language.language}}</span> - 
					<span>{{language.languageLevel.nivelFluencia}}</span>
				</div>
			</div>
			<div class="vivenciaInternacional">
				<span class='title'><h3>Vivência Internacional:</h3> </span>
				<div ng-repeat="internationalExperience in formData.internationalExperience">
					<span>{{internationalExperience.country}}</span> - 
					<span>{{internationalExperience.duration}}</span> - 
					<span>Vivência: {{internationalExperience.experienceLiving.descricao}}</span>
				</div>
			</div>

			<div class="experienciaProfissional">
				<span class='title'><h3>Experiência Profissional:</h3> </span>

				<div ng-repeat="experience in formData.curriculum.professionalExperience">
					<span class="periodo">{{experience.periodFrom|date:'yyyy'}} - {{experience.periodTo|date:'yyyy'}}</span>
					<span class="nomeEmpresa">{{experience.empresa.nomeEmpresa}}</span><br>
					<span class="descricaoEmpresa">{{experience.empresa.descricaoEmpresa}}</span>
					<span class="cargo">{{experience.position}}</span>
					<span class="tasksDescription" ng-bind-html="experience.tasksDescription"/>
				</div>
			</div>
			<div class="formacaoComplementar">
				<span class='title'><h3>Cursos Complementares:</h3> </span>
				<ul ng-repeat="formacao in formData.educationList|filter: filtro" >
					<li ng-show="formacao.educationType.id==2">
						<span> Conclusão em {{formacao.dataFim|date:'MM/yyyy'}}</span> - 
						<span class="cursoFormacao">{{formacao.education}}</span> - 
						<span class="cursoInstituicao">{{formacao.institution}}</span> - 
						<span class="cursoDuracao">{{formacao.duration}} Horas</span>

				
					</li>
				</ul>						
			</div>
			<div class="conhecimentos">
				<span class='title'><h3>Conhecimentos e Habilidades:</h3> </span>	
				<ul>
					<li ng-repeat="skill in formData.skills"><span class="skill">{{skill}}</span></li>
				</ul>	
			</div>



		</div>
		
	</body>
</html>
